.container {
  height: 100px;
  width: 100%;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.show {
  opacity: 1;
}

.title {
  height: 25px;
  background-color: #d9eeff;
  display: flex;
  align-items: center;
}

.game-container {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}

.sport-icon {
  width: 16px;
  margin: 0 8px;
}

.competition-name-text {
  font-size: 12px;
  font-weight: bold;
  color: #006dd8;
}

.time-text {
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: 16px;
  width: 40px;
  min-width: 40px;
  color: #006dd8;
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 140px - 104px) /2);
  height: 100%;
}

.team-name-text {
  font-size: 12px;
  text-align: center;
  color: #006dd8;
  line-height: 1.3;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.odds-btn {
  background: url('../../../../../../images/img_bg_odds.png');
  background-size: contain;
  width: 70px;
  height: 35px;
  span {
    color: white;
  }
}

.odds {
  display: flex;
}

.market-count-container {
  display: flex;
  min-width: 40px;
}

.separate {
  background: url('../../../../../../images/img_gamelist_line.png') center no-repeat;
  background-size: contain;
  width: 10px;
  margin-right: 15px;
}

.market-count-text {
  font-size: 14px;
  font-weight: bold;
  color: #006dd8;
  text-align: center;
}

.team-icon {
  margin: 5px 0px;
}

.play {
  width: 40px;
  height: 40px;
}