
.sport-wrapper {
  display: flex;
  flex-direction: column;
  width: 64px;
  min-width: 64px;
  align-items: center;
}

.active {
  .market-count-text {
    color: #d9eefe;
  }
}

.team-icon {
  height: 40px;
  width: 40px;
}

.market-count-text {
  color: #3faafc;
  font-size: 12px;
  text-align: center;
  margin-top: -4px;
}